/*-- scss:defaults --*/

// fonts
$font-family-sans-serif: Roboto , 'open sans', Arial, Helvetica, serif !default;
$presentation-font-size-root: 22px;

// colors
$body-bg: #fff !default;
$body-color: #000 !default;
$link-color: #51483d !default;
$selection-bg: #26351c !default;

// headings
$presentation-heading-font: Roboto , 'open sans', Arial, Helvetica, serif !default;
$presentation-heading-color: #383d3d !default;
$presentation-h1-font-size:	1.5em;
$presentation-h2-font-size:	1.3em;
$presentation-h3-font-size:	1.2em;
$presentation-h4-font-size:	1em;
$code-block-font-size: 0.8em;
$code-block-border-color: #fff;

// figures

/*-- scss:rules --*/
.reveal .title {
    padding-top: 5em;
}

// Cursor
.cursor-dot,.cursor-dot-outline{
    pointer-events:none;position:absolute;top:0;left:0;border-radius:50%;opacity:0;transform:translate(-50%,-50%);transition:opacity 0.3s ease-in-out,transform 0.3s ease-in-out;
}
.cursor-dot{
    width:22px;height:22px;background-color:red;z-index:1;
}

.no-cursor{cursor:none;}
.no-cursor a,.no-cursor div,.no-cursor span{cursor:none;}
